@import 'work';

//variables
$desktop: 10%;
$mobile: 6%;
$red: #ff2222;
$redHover: #ff4444;
$redActive: #b8181c;
$lightGrey: #ededed;


.content{
    margin-bottom: 50px;
    padding-top: 80px;
    padding-left: $desktop;
    padding-right: $desktop;
    width: 100%;
    h1{
        text-align: center;
    }
    .mainFlexAR{
        display: flex;
        flex-wrap: wrap;
        justify-content: center;
        a{
            flex-basis: calc(50% - 20px);
            text-decoration: none !important;
            &:nth-of-type(odd) {
                margin-right: 10px;
            &:nth-of-type(even) {
                margin-left: 10px;
            }
            }
            .case{
                flex-basis: calc(50% - 20px);
                height: 200px;
                background-position: center;
                background-size: cover;
                background-repeat: no-repeat;
                margin-top: 10px;
                transition-duration: .2s;
                &:hover{
                    cursor: pointer;
                    transform: translateY(-10px);

                }
            }
            h1{
                text-align: left;
                color: black;
            }
            p{
                text-align: left;
                color: black;
            }
        }
        .case1{background-image: url('../imgs/arvisual_main01.jpg');}
        .case2{background-image: url('../imgs/arvisual_main01.jpg');}
        .case3{background-image: url('../imgs/arvisual_main01.jpg');}
        .case4{background-image: url('../imgs/arvisual_main01.jpg');}
        .case5{background-image: url('../imgs/arvisual_main01.jpg');}
        .case6{background-image: url('../imgs/arvisual_main01.jpg');}
    }
}

@media only screen and (max-width: 750px) {
    .content{
        width: auto;
        padding-left: $mobile;
        padding-right: $mobile;
        padding-top: 0px;
        padding-bottom: 15px;
        h1{
            font-size: 1.5em;
        }
        p{
            text-align: left;
            padding: 0;
        }
        .mainFlexAR{
            flex-wrap: wrap;
            a{
                flex-basis: 100%;
                margin: 0 ;
                margin-top: 10px;
                }
            }
        }
    }